/.idea/
/wave_io/bin/
/wave_io/.idea/
/wave_io/.settings/
/wave_io/diff.wav
/wave_io/Wav_as_ASCII.txt
/wave_io/Sprache_Echtzeit.wav
/wave_io/downsampled.wav
/wave_io/bitreduced.wav
/wave_io/original.wav
/wave_io/Medientechnik.iml
/wave_io/wave_io.iml

